head {
  font-family: 'Roboto', sans-serif;
  font-size: 30px;
  color: #fff;
}
body {
  background: linear-gradient(to right, #1f1f1f 0%, #1f1f1f 50%, #1f1f1f 100%);
  padding: 0px;
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  font-size: 36px;
  color: #fff;

}

input, button {
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}

.main-div, .loggedin-div {
  width: 30%;
  margin: 0px auto;
  margin-top: 100px;
  padding: 15px;
  display: none;
  align-items: center;
  align-content: center;
}

.main-div h3, .loggedin-div h3  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width 100%;
  text-align: center;
}

.loggedin-div p  {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width 100%;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
}

.main-div img, .loggedin-div img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 80%;
  height: 60%;
}

.main-div input {
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid #ccc;
  border-radius: 25px;
  background: #fff;
  padding: 15px;
  outline: none;
  width: 91%;
  margin-bottom: 20px;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  font-size: 24px;
}

.main-div input:focus {
  border: 1px solid #777;
}

.main-div button, .loggedin-div button {

  background: #39c0ba;
  color: #fff;
  border: 1px solid #39c0ba;
  border-radius: 25px;
  padding: 15px;
  margin-bottom: 20px;
  width: 100%;
  transition: 0.3s;
  -webkit-transition: 0.3s;
  -moz-transition: 0.3s;
  font-size: 18px;

}

.main-div button:hover, .loggedin-div button:hover {
  background: #fff;
  color: #1f1f1f;
  border: 1px solid #1f1f1f;
  cursor: pointer;
}
